@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="card mb-3 admin-card">
    <div class="row g-0 admin-row">
        <div class="col-md-4 quicklinks_wrapper">
            <ul class="list-group text-center quicklinks">
                <li class="list-group-item text-uppercase">
                    <a href="#" class="h5 text-dark">CEBU CITY SCHOLARSHIP APPLICANT</a>
                </li>
                <li class="list-group-item text-uppercase">
                    <a href="#" class="h5 text-dark">
                        BATANG MAY PANGARAP APPLICANT
                    </a>
                </li>
                <li class="list-group-item text-uppercase">
                    <a href="#" class="h5 text-dark">DAILY REPORT</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
